@font-face {
  font-family: "Manrope";
  src: url("/asset/fonts/Manrope-Regular.ttf");
  src: local(''), url("/asset/fonts/Manrope-Regular.ttf") format('truetype');
}


body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent; 
}
 
body::-webkit-scrollbar-thumb {
  background: var(--surfaceContainerLowest); 
}

body::-webkit-scrollbar-thumb:hover {
  background:var(--surfaceContainerHighest); 
}

:root {
  font-family: Manrope;
  background-color: var(--surfaceContainerLow);
}

body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--surfaceContainer);
  color: var(--onSurface);

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main__container {
  background-color: var(--surfaceContainerLow, #2a2a2a);
  color: var(--onSurface);
  height: calc(100dvh - 2.4em);
  width: calc(100dvw - 408px);
  position: fixed;
  top: 2.4em;
  left: 408px;
  z-index: 0;
  margin: 0;
  padding: 0;
  display: flex;
}

.main__container__fillwidth {
  left: 48px;
  width: calc(100dvw - 48px);
}

.main__sidepane {
  background-color: var(--surfaceContainer, #3b3b3b);
  color: var(--onSurface);
  border-right: 1px solid var(--outlineVariant);
  width: 360px;
  margin: 0;
  padding: 0;
  height: calc(100dvh - 2.4em);
  z-index: 1;
  position: fixed;
  top: 2.4em;
  left: 48px;
}

.main__sidepane__hidden {
  display: none;
}

.draghandler {
  width: 6px;
  position: absolute;

  height: 100%;
  z-index: 4;
  cursor: col-resize;
}

.draghandler-right {
  right: 0;
  top: 0;
  bottom: 0;
}

.draghandler-left {
  left: 0;
  top: 0;
  bottom: 0;
}

.draghandler-bottom {
  right: 0;
  left: 0;
  bottom: 0;
}

.draghandler-top {
  right: 0;
  top: 0;
  left: 0;
}

.draghandler:hover {
  background-color: var(--outline);

}

.main__sideactionbar {
  background-color: var(--surfaceContainerHigh, #1a1a1a);
  border-right: 1px solid var(--outlineVariant);
  width: 48px;
  height: calc(100dvh - 2.4em);
  z-index: 2;
  position: fixed;
  top: 2.4em;
  left: 0;
  display: flex;
  flex-direction: column;
}

.main__footer {
  background-color: var(--surfaceContainerHigh);
  color: var(--onSurface);
  border-top: 1px solid var(--outlineVariant);
  height: 24px;
  z-index: 4;
  width: 432px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  left: 0;
}

.sub__footer {
  background-color: var(--surfaceContainerHigh);
  color: var(--onSurface);
  border-top: 1px solid var(--outlineVariant);
  height: 24px;
  z-index: 4;
  width: calc(100dvw - 432px);
  position: fixed;
  bottom: 0;
  left: 432px;
}

.dialog__box {
  background-color: var(--surfaceContainerHigh);
  color: var(--onSurface);
  width: 720px;
  height: 480px;
  padding: 0;
  border-radius: 0.2em;
  border: none;
}

.dialog__box::backdrop {
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  top: 2.4em;
}

.dialog__box>div {
  padding: 12px;
}

.command__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  margin-block: 0;
  padding: 0;
  text-align: left;
}

.command__list>.command__list_item {
  text-align: left;
  background-color: transparent;
  color: var(--onSurface);
}

.command__list_item_selected {
  background-color: var(--secondary) !important;
  color: var(--onSecondary) !important;

}

.command__list_item:hover {
  background-color: var(--surfaceContainerLow);
  color: var(--onSurface);
}

.segmented__icon__button {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--outlineVariant);
}

.segmented__icon__button > .icon__button {
  width: 100%;
}

.icon__button {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  background-color: transparent;
  color: var(--onSurface);
  padding: 12px;
  border: 2px solid transparent;
  text-decoration: none;
  font-size: 2em;
  height: 48px;
  width: 48px;
  opacity: 60%;
}

.icon__button:hover {
  background-color: var(--surfaceContainerHighest);
}

.icon__button_leftborder:hover {
  border-left: 2px solid var(--outline);
  cursor: pointer;
}

.icon__button_active_leftborder {
  border-left: 2px solid var(--outline);
  opacity: 100%;
}

.command__search_container {
  position: relative;
  width: 100%;

  border-radius: 0;

  box-sizing: border-box;
}

.command__search {
  width: 100%;
  padding: 12px 20px;
  border-radius: 0;
  background-color: var(--secondaryContainer);
  box-sizing: border-box;
  border: none;
  color: var(--onSecondaryContainer);
  user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.command__search:placeholder-shown {
  color: var(--onSecondaryContainer);
}

.filetree__container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filetree__subcontainer {
  list-style: none;
  padding: 0 0 0 0.5em;
  margin: 0 0 0 0.5em;
  border-left: 1px solid rgba(128, 128, 128, 0.4);
}

.filetree__item {
  background-color: transparent;
  color: var(--onSurface);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 18px;
  text-align: left;
  height: 36px;
  font-size: 1em;
}

.filetree__item:hover {
  background-color: var(--surfaceContainerHigh);
}

.filetree__file_active {
  background-color: var(--secondaryContainer);
  color: var(--onSecondaryContainer);
}

.filetree__folder {}

.filetree__item:active {
  background-color: var(--secondaryContainer);
  color: var(--onSecondaryContainer);
}

a {
  color: var(--primary);
}

button {
  color: var(--onPrimary);
  background-color: var(--primary);
  display: inline-block;
  height: 48px;
  padding: 12px 24px;
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
}

button[disabled],
button:disabled {
  background-color: var(--secondaryContainer);
  color: var(--outline);
  cursor: auto;
}

kbd {
  background-color: var(--secondaryContainer);
  padding: 4px;
  font-size: 0.8em;
  height: 1em;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  border-radius: 0;
  background-color: var(--secondaryContainer);
  box-sizing: border-box;
  border: none;
  color: var(--onSecondaryContainer);
  user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ProseMirror {
  height: 100%;
  padding: 12px;
}

.cm-gutters {
  display: none !important;
}

.cm-content {
  caret-color: var(--onSurface) !important;
  
}

*::-webkit-scrollbar {
  display: none;
} 

.main__container::-webkit-scrollbar {
  width: 10px;
}

.main__container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

.main__container::-webkit-scrollbar-thumb {
  background: #888; 
}

.main__container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}